<div>
    <h1>Auctions...</h1>
    <p>Total auction: {{ total }}</p>
    <div>
        <a href="{{ path('auction.index') }}">List</a> |
        <a href="{{ path('auction.new') }}">Add new</a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Location</th>
            <th>Photo</th>
        </tr>
        {% for auction in collection %}
        <tr>
            <td>
                {{ auction.name.value }}
            </td>
            <td>
                {{ auction.price.price }}
            </td>
            <td>
                {{ auction.location.location.city }}
            </td>
            <td>
                {% for photo in auction.photoCollection %}
                    <img src="{{ photo.url.value }}" alt="{{ photo.url.value }}">
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>